@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;700&display=swap');

:root{
  --txt-color: #fff;
  --bg-color: #000;
  --light-purple: #9E62FF;
  --purple: #9E62FF;
  --grey: #5b5b5b;
  --fill-color: #afafaf;
  --element-bg: #212121;
  --active-bg: #4800BD;
  --active-color: #fff;
  --active-fill: #fff;
}

@media(prefers-color-scheme: light){
  :root{
    --txt-color: #000;
    --bg-color: #fff;
    --purple: #9533f2;
    --grey: #b4b4b4;
    --fill-color: #707070;
    --element-bg: #f0f0f0;
  }
}

*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::-webkit-scrollbar{
  display: none;
}

::selection {
  color: var(--active-color);
  background: var(--active-bg);
}

input,
button,
a{
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input:focus,
input:active,
button:focus,
button:active,
a:focus,
a:active,
.option:focus,
.option:active{
  outline: none;
}

html{
  font-size: .625em;
}

body{
  margin: 0;
  font-size: 1.8rem;
  font-family: Roboto, sans-serif;
  color: var(--txt-color);
  background: var(--bg-color);
}

.container{
  padding: 1.4rem;
}

a, a:hover, a:active, a:visited{
  color: var(--txt-color);
  text-decoration: none;
}

.button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--element-bg);
  color: var(--txt-color);
  width: 100%;
  border: 0;
  margin: 0;
  border-radius: .5rem;
  font-size: 1.8rem;
  font-family: Rubik, sans-serif;
  padding: .9rem 1.4rem;
}

.button:focus,
.button:active,
.input:focus,
.input:active,
.option:focus,
.option:active{
  box-shadow: 0 0 0 .2rem var(--light-purple);
}

.button--round{
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  padding: 0;
  justify-content: center;
}

.input{
  display: block;
  background: var(--element-bg);
  color: var(--txt-color);
  width: 100%;
  border: 0;
  margin: 0;
  border-radius: .5rem;
  font-size: 1.8rem;
  font-family: Rubik, sans-serif;
  padding: .9rem 1.4rem;
  height: 4.2rem;
}

.svg{
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--fill-color);
}

.svg--logo{
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.play-path{
  fill: var(--grey);
}

.live-path{
  fill: var(--purple);
}

.button--arrow-back .svg, .svg--arrow-back{
  transform: rotate(90deg);
}

.button--arrow-forward .svg, .svg--arrow-forward{
  transform: rotate(-90deg);
}

.button--now{
  width: auto;
  margin-right: 2rem;
  height: 4.2rem;
}

.backdrop{
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.backdrop.show{
  display: block;
  background: var(--bg-color);
  opacity: 0.75;
  /* pointer-events: none; */
}

.offcanvas-wrap{
  position: relative;
}

.offcanvas-wrap.active{
  z-index: 100;
  position: relative;
}

.offcanvas-wrap.active .svg--arrow{
  transform: rotate(180deg);
}

.offcanvas-wrap--small{
  max-width: max-content;
}

.offcanvas-wrap--small .button{
  width: auto;
}

.offcanvas{
  display: none;
  position: absolute;
  width: 100%;
}

.offcanvas.show{
  display: block;
}

.header{
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

h1{
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 1.8rem;
}

.form{
  display: flex;
  flex-direction: column;
  position: relative;
}

.search{
  top: 0;
  width: 100%;
  min-height: 100%;
}

.search-input{
  padding-left: 4.2rem;
}

.clear-button{
  background: transparent;
  width: 4.2rem;
  height: 4.2rem;
  padding: 0;
  justify-content: center;
  display: none;
}

.clear-button.show{
  display: flex;
}

.search .svg--search{
  position: absolute;
  left: .9rem;
  top: .9rem;
}

.search .clear-button{
  position: absolute;
  top: 0;
  right: 0;
}

.list{
  margin-top: 1rem;
  background: var(--element-bg);
  border-radius: .5rem;
}

.option{
  padding: .9rem 1.4rem;
  height: 4.2rem;
  vertical-align: middle;
}

.option.active{
  color: var(--active-color);
  background: var(--active-bg);
}

.day-time{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.day-time .offcanvas-wrap{
  margin-right: 1rem;
}

.hour-control{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.hour-control .button{
  flex: 0 0 auto;
}

.hour-columns{
  flex:1;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hour-column{
  min-width: 50%;
  text-align: center;
}

.back-button{
  position: absolute;
  transform: translateY(-5.2rem);
  width: auto;
  right: 0;
}

.back-button .svg--arrow-back{
  /* margin: 0 .7rem; */
}

.tags{
  margin:1rem 0;
  padding: .2rem;
  display: flex;
  overflow-x: auto;
  width: 100%;
}

.tags .button{
  width: auto;
  background: var(--active-bg);
  color: var(--active-color);
  padding-right: 1rem;
  margin-right: 1rem;
}

.tags .svg{
  fill: var(--active-fill);
  margin-left: 1rem;
}

.schedule{
  padding: 3rem 0;
  margin: 0 4.2rem;
  position: relative;
  min-height: 100vh;
}

.slider{
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  height: 100%;
}

.slider-text{
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: var(--active-color);
  background: var(--active-bg);
}

.slider:after{
  display: block;
  left: 50%;
  transform: translateX(-50%);
  width: .2rem;
  height: 100%;
  background: var(--active-bg);
  content: '';
  position: absolute;
}

.slider.show{
  display: block;
  height: 100%;
}

.channel-row{
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 12rem;
  grid-column-gap: 1rem;
}

.channel-col{
  background-color: var(--element-bg);
  border-radius: .5rem;
  padding: .5rem;
  display: block;
  grid-column: 3 / 3;
  height: 12rem;
}

.channel-col__info{
  display: inline-block;
  vertical-align: bottom;
  padding: .5rem;
}

.channel-col__name,
.channel-col__duration{
  margin: .5rem 0;
}

.channel-col__name{
  font-family: Rubik, sans-serif;
}

.channel-col__duration{
  color: var(--grey);
}
.channel-col__img-wrap{
  display: inline-block;
  max-width: 30%;
  position: relative;
}
.channel-col__live{
  position: absolute;
  bottom:1rem;
  left:3%;
  background: red;
  color: #fff;
  padding: .25rem .5rem;
  border-radius: .5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: none;
}

.channel-col__live.show{
  display: block;
}

.channel-img{
  border-radius: .5rem;
  max-height: 11rem;
  max-width: 100%;
}

@media (min-width: 33em){
  .back-button{
    display: none;
  }
  .button{
    max-width: 33rem;
  }
  .backdrop.show{
    /* background: transparent; */
    /* pointer-events: all; */
  }
  .offcanvas-wrap{
    max-width: 33rem;
  }
  .offcanvas-wrap--small{
    max-width: max-content;
  }
  .hour-column{
    min-width: 25%;
  }
  .channel-row{
    grid-template-columns: repeat(4, 1fr);
  }
  /* .day-time .offcanvas-wrap{
    margin-right: 2rem;
  } */
}
